<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/3.37-1/css/bootstrap.min.css'}"/>

</head>
<body>

<h1 th:text="${movie.title}"></h1>

<form th:action="@{'/update/' + ${movie.id}}" th:object="${movie}" method="post">
    <input type="hidden" th:field="*{title}" />
    <input type="text" th:field="*{genre}"/>
    <br/>
    <input type="text" th:field="*{imbdlink}" />
    <br/>
    <input type="text" th:field="*{releasedate}" />
    <br/>
    <input type="submit"  class="btn btn-warning" value="Update this movie"/>
</form>



<span><a href="/">go back</a></span>
</body>
</html>