<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Rotten Potato</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/3.37-1/css/bootstrap.min.css'}"/>
</head>
<body>
<div class="container">
<header>
   <h1>Rotten Potato</h1>
</header>
<h2>Movie List!</h2>
    <form action="/logout" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="submit" value="logout"/>
    </form>

    <div class="list">
    <div th:each=" movies : ${movies}">
        <div class="movie">
            <div th:text="${movies.title}"></div>
            <div th:text="${movies.genre}"></div>
            <div><a th:href="${movies.imbdlink}">IMBD Link!</a></div>
            <div th:text="${movies.releasedate}"></div>
            <form th:action="@{'/info/' + ${movies.id}}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <input type="submit"  class="btn btn-info" value="Details"/>
            </form>

            <a th:href="@{'/review/' + ${movies.id}}" class="btn btn-success">Leave a Review of the movie!</a>
        </div>
    </div>

</div>
    <footer>
        <span>Dont see your movie? <a href="/add">Add one!</a></span>
    </footer>
</div>
</body>
</html>