<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>review page</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/3.37-1/css/bootstrap.min.css'}"/>

</head>
<body>
<h1>Tell us what you think.</h1>
<h3 th:text="${movie.title}"></h3>
<form th:action="@{'/review/' + ${movie.id}}" th:object="${reviews}"  method="post">
    <input type="text" th:field="*{nameofuser}" label="Your name" />
    <input type="text" th:field="*{rating}" label="your rating"/>
    <input type="text" th:field="*{age}" placeholder="your age"/>
    <input type="text" th:field="*{gender}" placeholder="your gender"/>
    <input type="text" th:field="*{occupation}" placeholder="your job" />
    <input type="submit" value="Leave that review!"/>
</form>

</body>
</html>