<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Signup for app</h1>
<form action="/signup" method="post" th:object="${user}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <label th:for="username">Username</label>
    <input type="text" th:field="*{username}" />
    <br/>
    <label th:for="password">PassWord</label>
    <input type="password" th:field="*{password}"/>
    <br/>
    <input type="submit" value="signup" />
</form>
</body>
</html>